:root {
  --primary-color: #005f73;  /* Azul escuro */
  --secondary-color: #00aad7;  /* Azul claro */
  --background-color: #f8f9fa; /* Cinza claro */
  --text-color: #333;
  --heading-color: #00415a;
  --accent-color: #0088a9;
}
